user=HDFS_Scoop
url=jdbc:sqlserver://10.6.8.130:1433;databaseName=NECS_20170511
password=}x&2MwHqB*T#EJ-k
schema=
table=administrations,advancedirectives,allergy,charge,demographics,diagnosis,diseasestatus,documents,erx,familyhistory,hospitalization,insurance,labs,medicationlist,mortality,obgynhistory,orders,performance,practicelocation,provider,radiationhistory,radiology,referringprovider,socialhistory,staging,surgicalhistory,toxicities,transfusion,visit,vitals
driver=com.microsoft.sqlserver.jdbc.SQLServerDriver
csv_path=/de_ID/NECS/oncoEMR/database_bk/csv/necs_test_raw
hive_db=necs_hivetest_raw
